@(contacts: List[Contact])

@Main("Home") {
<div class="container">
  <table class="table table-striped table-bordered">
  <tr><th>First</th><th>Last</th><th>Phone</th></tr>
  @for(contact <- contacts) {
  <tr>
    <td>@contact.getFirstName()</td>
    <td>@contact.getLastName()</td>
    <td>@contact.getTelephone()</td>
    <td><button type="button" class="btn btn-warning"><a href="@routes.Application.newContact(contact.getId())">Edit</a></button></td>
    <td><button type="button" class="btn btn-danger"><a href="@routes.Application.deleteContact(contact.getId())">Delete</a></button></td>
  </tr>
  
  }
  </table>
</div>
  
}
