@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, loginForm: Form[views.formdata.LoginFormData], registerForm: Form[views.formdata.RegisterFormData])

@import bootstrap3._

@Main(page, isLoggedIn, userInfo) {
   <div class="container">
     @registrationForm(routes.Application.postLogin(), routes.Application.postRegister(), loginForm("email"), loginForm("password"), registerForm("name"), registerForm("email"), registerForm("password"))
   
     @if(!models.UserInfoDB.adminDefined()) {
      <div class="alert alert-danger">
      Warning: Admin credentials have not been defined!
      </div>
     }
   
   </div>
}
