@(contactForm: Form[views.formdata.ContactFormData], telephoneTypeMap: Map[String, Boolean], standings: List[String])

@import helper._
@import bootstrap3._

@Main("New Contact") {
 <div class="container">
  @form(routes.Application.postContact(), 'class -> "form-horizontal") {
    <input type="hidden"
       name="@contactForm("id").name"
       id="@contactForm("id").id"
       value="@contactForm("id").value">
       <!-- Name -->
       
  @Text(contactForm("firstName"),
        label = "First",
        placeholder = "First Name",
        help = "")
        

  @Text(contactForm("lastName"),
        label = "Last",
        placeholder = "Last Name",
        help = "")
        

  @Telephone(contactForm("telephone"),
        label = "Phone",
        placeholder = "Telephone",
        help = "",
        contactForm("telephoneType"),
        optionMap = telephoneTypeMap,
        isMultiple = false) 

  <!-- Standings -->
  @Radiobuttons(contactForm("standing"),
                label = "Standing",
                buttonNameList = standings,
                help = "")
          
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add</button>
      </div>
    </div>          
  } 
 </div>
  
}
